<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <style>
        .movie-container {
            border: 2px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <header>
    <h1>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='imdb.png') }}">
        RUC 电影数据库
    </h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">电影信息</a></li>
            <li><a href="javascript:void(0);" onclick="toggleAddMovie()">添加电影</a></li>
            <li><a href="javascript:void(0);" onclick="toggleSearchMovie()">查询电影</a></li>
            <li><a>票房分析</a></li>
            <li><a>票房预测</a></li>
        </ul>
    </nav>
    </header>

    <section class="movie-list">
    <ul class="avatar">
        {% for movie in movies %}
            <li class="movie-container">  {{ movie.movie_name }} - {{ movie.year }}
                <span class="float-right">
                    <a class="imdb" href="https://www.imdb.com/find?q={{ movie.movie_name }}" target="_blank" title="Find this movie on IMDb">IMDb</a>
                </span>
                <div class="avatar" onclick="toggleDetails(this)">详细信息</div>
                <div class="movie-details">
                    <table>
                        <tr>
                            <td>ID:</td>
                            <td>{{ movie.movie_id }}</td>
                        </tr>
                        <tr>
                            <td>票房:</td>
                            <td>{{ movie.box }}</td>
                        </tr>
                        <tr>
                            <td>上映时间:</td>
                            <td>{{ movie.release_date }}</td>
                        </tr>
                        <tr>
                            <td>上映地区:</td>
                            <td>{{ movie.country }}</td>
                        </tr>
                        <tr>
                            <td>类型:</td>
                            <td>{{ movie.type }}</td>
                        </tr>
                        <tr>
                            <td>演员名称:</td>
                            <td>{{ movie.actor_name }}</td>
                        </tr>
                    </table>
                </div>
            </li>
        {% endfor %}
    </ul>
    </section>

    <section id="add-movie-section" class="add-movie" style="display: none;" >
    <h3> 添加电影</h3>
    <form action="{{ url_for('add_movie') }}" method="POST">
        <div class="movie-field">
            <label for="movie_id">电影id:</label>
            <input type="number" id="movie_id" name="movie_id" required>
        </div>
        <div class="movie-field">
            <label for="movie_name">电影标题:</label>
            <input type="text" id="movie_name" name="movie_name" required>
        </div>
        <div class="movie-field">
            <label for="box">电影票房:</label>
            <input type="number" id="box" name="box">
        </div>
        <div class="movie-field">
            <label for="release_date">上映时间:</label>
            <input type="date" id="release_date" name="release_date">
        </div>
        <div class="movie-field">
            <label for="country">上映地区:</label>
            <input type="text" id="country" name="country">
        </div>
        <div class="movie-field">
            <label for="type">类型:</label>
            <input type="text" id="type" name="type">
        </div>
        <div class="movie-field">
            <label for="year">上映年份:</label>
            <input type="text" id="year" name="year" min="1000" max="2000">
        </div>
        <div class="movie-field">
            <label for="actor_name">演员名称:</label>
            <input type="text" id="actor_name" name="actor_name">
        </div>
        <input class="btn" type="submit" name="submit" value="添加">
    </form>
    </section>

    <section id="search-movie-section" class="search-movie" style="display: none;">
    <form action="{{ url_for('search_movie') }}" method="GET" >
        <h3>查询电影:</h3>
        <input type="text" id="search_query" name="search_query" required>
        <input class="btn" type="submit" name="submit" value="查询">
    </form>
        <h3>查询结果</h3>
        {% if search_results_with_rank %}
        <ul class="movie-list">
        {% for result in search_results_with_rank %}
            <li class="movie-item search-result-item">
                <div class="rank-container">
                <span class="movie-rank">票房排名: {{ result.rank }}</span>
                {{ result.movie_name }} ({{ result.year }})
                </div>
            </li>
        {% endfor %}
    </ul>
        {% else %}
        <div class="rank-container">
            <span class="movie-rank">暂无结果</span>
        </div>
        {% endif %}
    </section>


    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var detailsElements = document.querySelectorAll('.movie-details');

            detailsElements.forEach(function(details) {
                details.style.display = 'none';
            });
        });

        document.addEventListener("DOMContentLoaded", function() {
        // 通过事件代理监听点击事件
        document.addEventListener("click", function(event) {
            var target = event.target;
            if (target.classList.contains('search-result-item')) {
                // 切换点击元素下的详细信息的显示状态
                var details = target.querySelector('.movie-details');
                if (details) {
                    details.style.display = details.style.display === 'none' ? 'block' : 'none';
                }
            }
        });
        });


        function toggleDetails(button) {
            var details = button.nextElementSibling;
            details.style.display = details.style.display === 'none' ? 'block' : 'none';
        }

        function toggleAddMovie() {
            var addMovieSection = document.getElementById('add-movie-section');
            addMovieSection.style.display = (addMovieSection.style.display === 'none') ? 'block' : 'none';
        }

        function toggleSearchMovie() {
            var searchMovieSection = document.getElementById('search-movie-section');
            searchMovieSection.style.display = (searchMovieSection.style.display === 'none') ? 'block' : 'none';
        }

    </script>

    <footer>
        <small>&copy; 2023 wqy</small>
    </footer>

</body>
</html>